<html>
    <head>
        <title>Nicocks blog</title>
    </head>
    <body>
        <div>
            <h1><a>Welcome to Nicocks blog</a></h1>
        </div>

        <div>
            <p>published: 21.12.2020</p>
            <h2><a>Receta de Strogonoff con arroz </a></h2>
            <H4><p>Paleta vacuna cubos 200 gr <br>
				Champignones 30 gr <br>
				Morrón rojo brunoisse 50 g <br>
				Vino tinto 100 ml <br>
				Crema de leche 100ml <br>
				Cebolla brunoisse 75 gr<br>
				Arroz blanco 100 gr <br>
				Ciboulette picar para colocar arriba del arroz una vez terminado <br>
				Mostaza <br>
				Harina <br>
					</p></H4>
        </div>

        <div>
            <em><h2><a>Procedimiento</a></h2></em>
            <H4><p>Cortar la carne en cubitos. Picar la cebolla y el morrón en brunoise. Filetear los champignones. Dorar en aceite los cubos de carne (rebozaosdos con harina), retirar y en la misma cacerola cocinar el morrón y la cebolla, cuando esté cocido incorporar la carne y el vino tinto, dejar cocinar a fuego lento, si hiciera falta agregar agua. Sobre el final los champignones, la crema de leche, la mostaza y condimentar, dejar que rompa hervor y servir. Para el arroz, cocinar con el triple de agua, condimentar y colocar el ciboulette.</p></H4>
            <h1><a href="https://www.vix.com/es/imj/gourmet/6789/origen-del-strogonoff">Un poco de la historia del plato</a></h1>
        </div>
    </body>
</html>